a {
    position: relative;
    cursor: pointer;
    color: black;
    font-size:88px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

a::after {
    position:absolute;
    content: "";
    inset:0 ;
    background-color: black;
    z-index:-1;
    transition: 0.3s;
    border-radius: 10px;
    scale: 1 0;

}

a:hover {
    color:white;

}

a:hover::after {
    scale: 1 1;
}