* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.box {
    height:60%;
    width: 80%;
    background-color: rgb(164, 116, 43);
    border-radius:60px;
    transition: ease-in-out 0.2s;
    display: flex;
    justify-content: flex-start;
    
    align-items: center;

    
}



.box:hover {
    width: 90%;
    height: 70%;
    background-color:rgb(74, 3, 3);
    border-radius: 100px;
    ;
}
      


body{
    background-color: rgb(47, 41, 41);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

}
.box-inside{
    width:40%;
    height:90%;
    background-color: rgb(63, 59, 59);
    border-radius: 60px;
    margin-left:30px;
    transition: ease-in-out 0.5s;
}

.box-inside:hover {
    width: 60%;
    height: 100%;
   margin-left:0;
   background-color: black;
   border-radius: 100px;
   
}
h1 {
    padding-left: 70%;
    position:absolute;
    font-size: 40px;
    text-transform: uppercase;
}

